body {
    background-image: linear-gradient(rgba(255, 0, 0, 0.250), rgba(0, 0, 0, 0.200));
    background-repeat: no-repeat;
}
 
#navbar-brand {
    background-image: linear-gradient(rgba(0, 0, 0, 0.021), rgba(255, 0, 0, .021)) !important;
    background-repeat: no-repeat;
} 

#hr {
    height: 5px;
}

.pic {
    height: 200px;
    width: 300px;
}