body {
    background-image: linear-gradient(to left, rgb(111, 1, 255),rgb(173, 161, 255));
    
}

#cloud {
    transform: translateX(-350px);
    opacity: 0.8;
    text-decoration:none;

}


#container {
    max-width: 800px;
    min-height: 1200px;
    background-color: rgba(0, 0, 0, 0.747);
    text-decoration:none;
    margin:auto;
    position: relative;
    z-index: 10;
    top: -255px;
}